NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://USUARIO:CONTRASENA@localhost:5432/NOMBRE_BASE"

JWT_ACCESS_SECRET="coloca-un-secreto-seguro"
JWT_ACCESS_EXPIRATION="15m"

REFRESH_TOKEN_TTL_DAYS="7"